<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.cloth.clothes">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_clothes"
        android:label="@string/clothes_app_name"
        android:roundIcon="@mipmap/ic_clothes"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:label">
        <activity android:name=".splash.SplashActivity">
        </activity>
        <activity android:name=".home.HomeActivity">
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".role.RoleActivity">
        </activity>
        <activity android:name=".addclothes.addbatch.AddClothesActivity">
        </activity>
        <activity android:name=".clothesdetail.DetailActivity">
        </activity>
        <activity android:name=".saledetail.SaleDetailActivity">
        </activity>
        <activity android:name=".storelist.StoreListActivity">
        </activity>
        <activity android:name=".addclothes.additem.AddItemClothesActivity">
        </activity>
    </application>

</manifest>